
.bookInfo{
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 80%;
    border-bottom: 1px solid;
    padding-bottom: 80px;
}

.img {
    flex-basis: 35%;
}

.book_img img{
    max-width: 320px;
}

.book_detail div{
    display: flex;
}

.book_detail div p:nth-child(1){
    width: 85px;
}

.info_detail {
    flex-basis: 65%;
    text-align: left;
    margin-left: 107px;
}

.info_detail .btn{
    align-content: baseline;
    margin-top: 58px;
}

.info_detail .btn .btn_rent{
    background-color: #199AE2;
    color: white;
    width: 190px;
    height: 55px;
    border-radius: 5px;
    margin-right: 15px;
}

.info_detail .btn .btn_wish{
    background-color: white;
    color: #199AE2;
    width: 190px;
    height: 55px;
    border: 1px solid #199AE2;
    border-radius: 5px;
    margin-right: 15px;
}

.avilable{
    margin-top: 53px;
}

.rent_item {

}

.rent_item li {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: left;
    font-size: 14px;
}

.rent_item li .rentId{
    flex-basis: 12%;
}

.rent_item li .rentBookname{
    flex-basis: 25%;  
    margin-left: 60px;
    text-overflow:ellipsis;
}

.rent_item li .rentDate{
    flex-basis: 15%;
}

.rent_item li .rentUsername{
    flex-basis: 12%;
}

.rent_item li .rentISBN{
    flex-basis: 12%;
}

.rent_item li .rentButton{
    display: flex;
    align-items: center;
}

.rent_item li .rentButton .approval{
    margin-right: 10px;
}

.Rent_Admin_List{
    display: flex;
    max-width: 100%;
    height: 100vh;
}

.Admin_side{
    flex-basis: 300px;
    background-color: #999999;
    color: white;
}

.Rent_Admin_List .content_wrap{
    width: 100%;
}

.Admin_LOGO{
    height: 90px;
    border-bottom: 1px solid white;
    align-content: center;

}

.Rent_Admin_List .content_wrap .content_header{
    height: 90px;
    border-bottom: 1px solid #999999;
    align-content: center;

}

.Rent_Admin_List .content_wrap .content_header h3{
    margin: 0;
}