@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
} 
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
} 
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
} 
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
} 
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html, body {
    min-height: 100vh;
}

.mypage {
    margin: 0;
    flex-basis: 10%;
}

.postLine{
    text-align: center;
    border-top: 1px solid #000000;
    padding: 1px 30px 0 0;  
    margin: 0 auto;
    width: 1440px;
}

.mypage_side {
    width: 220px;
    padding: 0 15px;
}

.sidebox {
    margin-top: 50px;
    box-sizing: border-box;
    text-align: left;
    float: left;
    width: 220px;
    height: 459px;
    border: 1px solid #EFEFEF;
}

.sidebox ul{
    list-style: none;
    padding : 20px 20px 0px 15px;
}

.sidebox_List li:hover {
    color: #199AE2;
  }

.sidebox_text {
    font-family: 'Pretendard-SemiBold';
    font-style: normal;
    height: 117px;
    line-height: 19px;
    font-size: 16px;
    padding-top: 50px;
    margin: -50px 0;
}

.sidebox_quitbutton {
    background-color: #fff;
    padding: 0 10px 20px 0;
    border: none;
    outline: none;
    font-family: 'Pretendard-SemiBold';
    font-style: normal;
    line-height: 19px;
    font-size: 20px;
}

.sidebox_quitbutton:hover {
    color: #199AE2;
}


.post_line{ 
    border-top: 1px solid #000000;
    width: 970px;
    height: 1px;
}

  
.mypage_list {
    display: flex;
    width: 100%;
}

.search_form {
 text-align: right;
 margin-right: 30px;
}

.mypage_container {
    display: flex;
    justify-content: space-around;
}

.mypage_container .content_body{
    flex-basis: 80%;
}

.mypage_pagination .pagination{
    display: flex;
    justify-content: center;
    width: 100%;
}

.mypage_pagination .pagination li{
    margin-right: 10px;
}