.wishlist_item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.wishlist_item h3 {
    margin: 0;
    font-size: 18px;
}

.wishlist_item p {
    margin: 5px 0 0;
}

.wishlist_list {
    display: flex;
}

.wishlist_item{
    flex-basis: 24%;
    max-width: 15%;
    margin: 50px 0 50px 9%;
}

.wishlist_item img{
    max-width: 100%;
}

.mypage_list {
    display: flex;
    flex-direction: column;
}



